body {
    font-family: earlyGameboy;
    color: #ffae41;
  }
  .tbl_container {
    border: 1px solid #ffae41;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    height: 1000px;
    overflow-y: scroll;
  }
  .tbl_container::-webkit-scrollbar {
    display: none;
  }
  table {
    font-family: earlyGameboy;
    color: #ffae41;
    text-align: center;
    border-collapse: collapse;
    border-radius: 12px !important;
    margin: 0 auto;
    width: 90%;
  }
  th {
    font-size: 30px;
  }
  
  #myInput {
    background-color: transparent;
    background-position: 10px 10px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-family: earlyGameboy;
    color: #ffae41;
    border: 1px solid #ffae41;
    margin-bottom: 12px;
  }

  #myinfo {
      color: #ffae41;
      font-family: earlyGameboy;
      font-size: 40px;
      text-align: center;
  }