.tokenButton {
  text-decoration: none;
  padding: 13px 20px;
  background-color: $primaryColor;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: $earlyGameBoy;
  border-radius: 50px;

  margin-bottom: 100px;
}
