// Colors
$bgColor: #1a0a28;
$primaryColor: #fdd803;
$headingColor: #ffae41;
$textColor: #ffffff;

// Font size
$headingSize: 32px;
$textSize: 16px;

// Font Family
$earlyGameBoy: earlyGameBoy;
$editundo: editundo;
